nav {
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'inter', sans-serif;
}

nav h1 {
  font-size: 16px;
  color: white;
  padding: 10px;
  font-family: 'Arial', sans-serif;
}

.Travel{
  display: flex;
  padding-top: 100px;
  padding-left: 40px;
}
